'use strict'
const merge = require('webpack-merge')
const prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  //BASE_API: '"https://easy-mock.com/mock/5950a2419adc231f356a6636/vue-admin"',
  BASE_API: '"http://${GMSERVER_PUBLIC_IP}:${GMSERVER_PUBLIC_PORT}"',
  //BASE_API: '"https://easy-mock.com/mock/5c341796ce6b9e71cf39d3b4/warship"',
  // user:refight psw:refight
})