'use strict'
module.exports = {
  NODE_ENV: '"production"',
  //BASE_API: '"https://easy-mock.com/mock/5950a2419adc231f356a6636/vue-admin"',
  BASE_API: '"http://${GMSERVER_PUBLIC_IP}:${GMSERVER_PUBLIC_PORT}"',
  //BASE_API: '"https://easy-mock.com/mock/5c341796ce6b9e71cf39d3b4/warship"',
}