services:
  bi:
    image: registry.cn-chengdu.aliyuncs.com/havario/bi
    container_name: bi
    restart: unless-stopped
    ports:
      - 8000:8000
    environment:
      TZ: Asia/Shanghai
      DB_USER: root
      DB_PASSWORD: password
      DB_HOST: 127.0.0.1
      DB_PORT: 3306
      DB_DATABASE: dev_log
    volumes:
      - ./logs:/bi/logs
    network_mode: bridge