module.exports = {
    ACCESS_KEY_ID: '${OBS_ACCESS_KEY_ID}',
    SECRET_ACCESS_KEY: '${OBS_SECRET_ACCESS_KEY}',
    SERVER: '${OBS_SERVER}',
    Bucket: '${OBS_BUCKET}',
    Notic_Key: '${OBS_NOTIC_KEY}',
    Serverlist_Key: '${OBS_SERVERLIST_KEY}',
    Serverlist_Name: '${OBS_SERVERLIST_NAME}',
    Upload_DIR: '/gm-server/upload',
    Refresh_AccessKey: '${OBS_REFRESH_ACCESSKEY}',
    Refresh_SecretKey: '${OBS_REFRESH_SECRETKEY}',
    Refresh_ProjectId: '${OBS_REFRESH_PROJECTID}',
}