name: devCI

on:
  push:
    branches:
      - dev
    paths:
      - '*.sh'
      - '**/*.sh'
  pull_request:
    paths:
      - '*.sh'
      - '**/*.sh'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          files: '**/*.sh'
        env:
          SHELLCHECK_OPTS: -e SC1091

      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2.0.6
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_workflow_pattern: "devCI"
          delete_run_by_conclusion_pattern: "cancelled, skipped, success, failure"