services:
  nginx:
    image: honeok/nginx:1.27.3-alpine3.20
    container_name: nginx
    restart: unless-stopped
    ports:
      - 20007:80
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d/php.conf:/etc/nginx/conf.d/php.conf
      - ./html:/var/www/html
      - ./logs:/var/log/nginx
    tmpfs:
      - /var/cache/nginx:rw,noexec,nosuid,size=512m
    networks:
      - callback

  php:
    image: registry.cn-chengdu.aliyuncs.com/havario/php-base:8.0.30-fpm-alpine3.16
    container_name: php
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./html:/var/www/html
    networks:
      - callback

networks:
  callback:
    driver: bridge