services:
  nginx:
    image: registry.cn-chengdu.aliyuncs.com/honeok/nginx:1.27.4-alpine3.21
    container_name: php_nginx
    restart: unless-stopped
    ports:
      - 20007:80
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d/php.conf:/etc/nginx/conf.d/php.conf
      - ./html:/var/www/html
    tmpfs:
      - /var/cache/nginx:rw,noexec,nosuid,size=512m
    networks:
      - callback

  php_1:
    image: registry.cn-chengdu.aliyuncs.com/havario/php-base:8.1.30-fpm-alpine3.20
    container_name: php_1
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./html:/var/www/html
    networks:
      - callback

  php_2:
    image: registry.cn-chengdu.aliyuncs.com/havario/php-base:8.1.30-fpm-alpine3.20
    container_name: php_2
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./html:/var/www/html
    networks:
      - callback

  php_3:
    image: registry.cn-chengdu.aliyuncs.com/havario/php-base:8.1.30-fpm-alpine3.20
    container_name: php_3
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./html:/var/www/html
    networks:
      - callback

networks:
  callback:
    driver: bridge